

<h1> Albums </h1>

<table>
  <tr>
    <th>Album info</th>
    <th>Album Title</th>
    <th>Album artist</th>
    <th>Album genre</th>
    <th>Sell Price</th>
    <th>Number in stock</th>
    <th>Number of order</th>
    <th>Item Sold</th>
    <th>Update Inventory</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><a href="/albums/<%=album.id%>"><%=album.id%></a></td>
    <td><a href="/albums/<%=album.id%>/edit"><%=album.title%></a></td>
    <td> <%=album.artist.artist_name%></td>
    <td> <%=album.genre.genre_name%></td>
    <td><%=album.sell_price%></td>
    <td><a href="/albums/stock/<%=album.id%>"><%=album.number_in_stock%></td>
    <td><%=album.number_on_order%></td>
        <td><form action='/albums/sale/<%=album.id%>' method ='POST'>
        <label for="item sold"></label>
        <input type="submit" value="Update inventory">
        </form></td>
        
        <td><form action='/albums/order/<%=album.id%>' method ='POST'>
    <label for="Order has arrived"></label>
    <input type="submit" value="Update inventory">
    </form></td>
  </tr>
  <% end %>

</table>
<p>Total number of albums = <%=@albums.count%></p>
<p><a href="/albums/stock">sort by number</a></p>
